#This is in Android 8.0, but not 8.1
domain_trans(init, rootfs, adbd)

allow vendor_init vendor_init:capability { sys_module };
allow init rootfs:lnk_file setattr;

dontaudit init kernel:security setcheckreqprot;
dontaudit init kernel:system module_request;
